body {
  background: url(../images/parchment.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
}

#display,
#display1,
#display2,
#display3 {
  margin-top: 3%;
}

@font-face {
  font-family: 'Old printing press_FREE-version';
  src: url('oldfont.ttf');
}


h1 {
  text-align: center;
  font-size: 400%;
  font-family: 'Old printing press_FREE-version', cursive;
}

p {
  display: inline-block;
}